.chatboxhandle {
    background-color: aqua;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.input {
    height: 10%;
    width: 75%;
}
.button {
    height: 10%;
    width: 25%;
}
.chathander{
    background-color: red;
    width: 100%;
    height: 90%;
    display: flex;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    overflow: auto;
}
.namedd{
    background-color: yellow;
    border-radius: 10px;
}